@CHARSET "UTF-8";
/* UNITIZ CUSTOM STYLE */

.img-wrapper {
	background: none;
}

/* Phone Number */

#desktop {
	display: none;
}

#mobile {
	display: inline-block;
}

@media (min-width: 768px) {
	#desktop {
	display: inline-block;
	}
	#mobile {
	display: none;
}
}

.content {
  padding: 12px 3px;
}

body {
	color:#444;
}

@media ( min-width : 768px) {
	.body-nav-fixed-menu-top {
		padding-top: 92px;
	}
	.wrapper-content {
		margin-top: 35px; /* 35px de socialbar */
	}
	.brand {
		padding-top: 15px;
		padding-bottom: 5px;
		max-height: 80%;
	}
}

.social-hover-v1.a-tripadvisor::after {
	background-color: #5E9F46;
}

.social-hover-v1.a-tripadvisor::before,
.social-hover-v1.a-tripadvisor::after {
	content: "";
}

.form.contact {
	margin-top: 30px;
}

.title-md {
	margin-bottom: 10px;
}

.flag img {
	padding-top: 10px;
	padding-left: 45px;
}
@media screen {
	.bx-image {
		cursor: zoom-in;
	}
}

ul { list-style-type:none;}

a, a:hover {
    color: #8B8C6C;
}

.h3, h3 {
	font-size: 18px;
    margin: 0 0 20px;
}

/* Bouton */
.btn-primary {
    color: white;
    border-color: #783b42;
    background-color: #783b42;
}
.btn-primary:hover {
    color: #fff;
    border-color: #CA1010;
    background-color: #CA1010;
}

.btn-danger {
    background-color: #783b42;
    border-color: #783b42;
}

body.homepage  .form-actions .btn-primary {
	margin-top:26px;
}

.btn-orange.btn-ghost {
    color: #783b42;
    border-color: #783b42;
}
.btn-orange.btn-ghost:hover {
    color: white;
    border-color: #CA1010;
    background-color: #CA1010;
}



/* Footer */

.col-footer-bottom a {
    color: white;
    border-color: #8B8C6C;
    background-color: #8B8C6C;
}
.col-footer-bottom a:hover {
    color: white;
    border-color: #783b42;
    background-color: #783b42;
}


/* article home */
.title-lg {
    font-size: 30px;
    font-weight: 800;
    margin: 0;
	text-transform: uppercase;
	color: #8B8C6C;
}
.page-header {
   border-bottom: 0px solid #eee;
   color: #783b42;
   text-transform: initial;
}
h1.page-header  {
	padding:0 30px;
	color: #8B8C6C;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 28px;
}
h1.page-header:after {
    display: block;
    width: 60px;
    height: 4px;
    margin: 0 auto;
    margin-top: 20px;
    content: '';
    background-color: #783b42;
}

.section-sm.section-top {
    padding-top: 40px;
}
.row .sightseeing {
	padding-bottom: 10px;
}

/* Slider */
.btn-primary.btn-ghost {
    color: #444;
    border-color: #fff;
	background-color: #fff;
}
.btn-primary.btn-ghost:hover {
    color: #fff;
    border-color: #696D5E;
    background-color: #783b42;
}
.btn-primary:focus, .btn-primary:active, .btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: white;
    border-color: #444;
    background-color: #333;
}
.layer-bg-slider {
    background-color: rgba(0, 0, 0, .20);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
}

.section-intro-bg-slider {
    background-color: #783b42;
}



/* Navigation header */
#header .navbar-inverse {
    background-color: #783b42;
}

.navbar {
    box-shadow: 4px 4px 0px rgba(0, 0, 0, .19);
}
.navbar-inverse {
    background-color: #783b42;
    border-color: #783b42;
}
#header .navbar-inverse .navbar-nav > .selected > a, #header .navbar-inverse .navbar-nav > .selected > a:hover, #header .navbar-inverse .navbar-nav > .selected > a:focus ,
#header .navbar-inverse .navbar-nav > .active > a, #header .navbar-inverse .navbar-nav > .active > a:hover, #header .navbar-inverse .navbar-nav > .active > a:focus ,
#header .navbar-inverse .navbar-nav > li > a:hover {
	color: #CA1010;
}
#header .navbar-inverse .navbar-nav .dropdown .dropdown-menu > li > a:hover, #header .navbar-inverse .navbar-nav .dropdown .dropdown-menu > li > a:focus {
	color:#CA1010;
}
#header .navbar-inverse .navbar-nav .dropdown .dropdown-menu > li > a {
	color: #444;
}
/*@media (min-width: 768px)*/
#header .navbar-inverse .navbar-nav .dropdown .dropdown-menu, #header .navbar-inverse .wrapper-row {
    border-top: 2px solid #783b42;
}
#header .navbar-inverse .navbar-nav > .dropdown:hover > a,
#header .navbar-inverse .navbar-nav > .dropdown:hover:after,
#header .navbar-inverse .navbar-nav > .dropdown.open:hover > a {
       color: #CA1010;
        background-color: transparent;
}

.menu-top-inverse {
    background-color: #CA1010;
    box-shadow: 0 4px 0 rgba(0, 0, 0, .04);
}

.menu-top-inverse .social-icons-menu-top a + a {
	border-left:1px solid #fff;
}

#header .navbar-inverse .navbar-collapse, #header .navbar-inverse .navbar-form {
    border-color: #783b42;
}

.section-heading-page {
    background-color: #E7E8CA;
}

/* Custom logo mobile */
@media (max-width: 800px) {
.navbar-brand > img {
    height: 43px;
    margin: 6px 0;
}
}

.form-control {
	border: 1px solid #CA1010;
}

.controls .form-control {
    border: 1px solid #CA1010 ! important;
}
.form-actions .btn-primary {
    margin-top: 26px;
}

/* Elements formulaires*/

.required {
    color: #8B8C6C;
}

/* Page Global */
.section-heading-page {
    margin-bottom: auto;
}

/* Blocs Global */
.wrapper-post {
	margin: 20px 0;
	border-radius: 3px 3px;
}

.col-md-6 h2.page-header.title-lg {
	padding: 10px 0;
    border-bottom: 1px solid #CA1010;
}
.icon-box.bordered {
	background-color: #fff;
}
div.icon-box.bordered ul {
    background-color: #fff;
    margin: 10px 0;
}


/*  Blocs Global - IMG float */
.wrapper-post img {
	float: left;
    margin: 0 20px 12px 0;
	display: block;
    max-width: 100%;
    height: auto;
	clear:both;
	vertical-align: middle;
	vertical-align: middle;
}
.icon-box.bordered {
    border-radius: 3px 3px;
	min-height:326px;
}

/* Bloc 4 */

body.rooms article.col-md-4 {
	background:#FFF;
	min-height:466px;
	margin: 15px 15px;
}
body.rooms article.col-md-4 h2 {
	font-size:18px;
	padding: 18px 0;
	font-weight: bold;
	color:#783b42;
}

body.family .col-md-5 {
	background:#FFF;
	min-height:408px;
	border: 1px solid #ccc;
	border-radius: 2px 2px;
}

body.family .col-md-5 h2 {
    font-size: 18px;
    padding: 18px 0;
    font-weight: bold;
    color: #783b42;
}
body.family .col-md-5 h3 {
    font-size: 14px;
	line-height: 22px;
}

body.family .col-md-12 .text_detail {
	background:#FFF;
	min-height:408px;
	border: 1px solid #ccc;
	border-radius: 2px 2px;
	margin:15px 0;
	padding: 10px 35px 25px;
}
body.family .col-md-12 .text_detail h2 {
    font-size: 18px;
    padding: 18px 0;
    font-weight: bold;
    color: #783b42;
}
body.family .col-md-12 .text_detail ul {

   -webkit-padding-start: 12px;
}


body.family .wrapper-slider {
	margin-left:-15px;
}




/* Page contact */
body.contact .well {
	background-color: #fff;
}

body.contact .form-bg p {
	font-size:14px;
}

body.contact .form-control {
    border: 1px solid #ccc;
}



body.rooms .text-theme + .text-theme {
margin-top:0;
}


/* Balises H */
h2.page-header.title-lg {
	font-size:24px;
}

/* Texte Balise P */

.wrapper-post p, .wrapper-post-v1 p {
	font-size:14px;
}

/* Icons */
.fa-round {
    width: 35px;
    height: 35px;
    padding-top: 6px;
    text-align: center;
    color: #fff;
    border: solid 3px #fff;
    border-radius: 50%;
}

.fa-box {
    color: #CA1010;
    border: solid 1px #CA1010;
}

/* After */
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Galerie photo */
.btn-orange.btn-ghost:focus, .btn-orange.btn-ghost:active, .btn-orange.btn-ghost.active, .open .dropdown-toggle.btn-orange.btn-ghost {
	border-color: #783b42;
    background-color: #783b42;
}

.img-wrapper {
    background-color: #783B42 !important;
}


/* COL */
article.col-md-4 {
	border:1px solid #ccc;
	border-radius: 2px 2px;
	padding:6px 6px;
	margin: 15px 0 0 15px;
	text-align: center;
}

@media (min-width: 768px)
{
	article.col-md-4 {
		max-width: 30%;
	}
	article.col-sm-6 {
		max-width: 45%;
	}
}

article.col-md-4 p {
	padding:6px 10px;
}
article.col-md-4 a.btn {
    margin: 10px 33%;
}

article.col-md-4 img.img-responsive {
	margin: 0 auto;
	border-bottom: 4px solid #CA1010;
}

article.col-sm-6 {
	border:1px solid #ccc;
	padding:6px 6px;
	margin: 15px 0 0 15px;
	text-align: center;
	max-width: 45%;
}
article.col-sm-6 p {
	padding:6px 10px;
}
article.col-sm-6 a.btn {
    margin: 10px 45%;
}

article.col-sm-6 img.img-responsive {
	float: left;
}

.col-md-12 {
	margin-bottom: 15px;
}

/* Agenda */
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    cursor: pointer;
}

.title-2-xl.hr-left:after, .title-xl.hr-left:after, .title-lg.hr-left:after, .title-md.hr-left:after, .title-sm.hr-left:after, .title-xs.hr-left:after {
    display: block;
    width: 60%;
    height: 3px;
    margin-top: 12px;
    content: '';
    background-color: #CA1010;
}


keygen, select, select[size="0"], select[size="1"] {
    border-radius: 0px;
    border-color: rgb(202, 16, 16);
	height:34px;
}

/* Format Mobile */

/* Navbar Menu-Top
   ================================================== */
@media (max-width: 767px) {

body.family .col-md-5 h2 {
    padding: 0 0;
}

.row {
	margin-right: 0;
    margin-left: 0;
}
#header .navbar-inverse .navbar-collapse, #header .navbar-inverse .navbar-form {
	border-color: #ccc;
}
#header .navbar-inverse .navbar-nav > li + li {
	border-top: 1px solid #57292f;
}
#header .navbar-inverse .navbar-nav > .open > a {
	border-bottom: 1px solid #57292f;
}
body.family .wrapper-slider {
   margin-left: 0px;
}
body.family .col-md-5 {
    min-height: 208px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.wrapper-post-text {
    padding: 20px;
}
.well {
	padding: 8px;
}

div.icon-box.bordered ul,
body.family .col-md-12 .text_detail ul {
	-webkit-padding-start: 0;
}

.wrapper-post p, .wrapper-post-v1 p {
	text-align: justify;
}

}

