{% block footer %}
    <div class="section footer">
      <div class="container">
        <div class="row">
	<div class="col-sm-5 col-sm-offset-2">
		<p class="text-theme">EpiRadio</p>
	</div>
	<div class="col-sm-5">
	</div>
        </div>
      </div>
    </div>
    <div class="section footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center col-footer-bottom">
            <a id="scroll-top" href="#"><i class="fa fa-angle-up fa-2x"></i></a>
            <p class="copyright">Copyright &copy; 2009-{{ "now"|date('Y') }}</p>
          </div>
        </div>
      </div>
    </div>
{% endblock footer %}